ul {
    list-style: none;
}

body {
    background-color: #c9e2b3;
}
#info-dump {
    text-align: center;
    background-color: #a6e1ec;
    border: 1px solid darkseagreen ;
}

.box{
    border: 1px solid darkseagreen;
}

#mainHead{

}